.tag {
    margin-top: 60px;
    margin-bottom: 20px;
    clear: both;
}
.span-tag {

}
.index-img {
    border: 1px solid #2f2f2f;
    height: 330px;
    padding: 5px 5px 0 5px;
    text-align: center;
}
#footer {
  height: 50px; /* the footer's total height */
}

#footer-content {
  text-align: justify;
  background-color: #f3e5f5;
  border: 1px solid #ab47bc;
  height: 32px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
  padding: 8px;
}