<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags * must be placed first, any other content must * follow*! -->
    <title>CorgiLAB-Blockchain-based Electronic Lab Notebook</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <style>
        .aw-topic-name img {
            width: 40px;
            height: 40px;
        }
        .aw-item {
            margin-top: 15px;
            padding-top: 10px;
            border-top: solid 1px #9abbba;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
    </script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 2px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Corgi LAB</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="/post">Write</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/userposts?user_id={{ current_user.id }}">[ USER : {{ current_user.nickname }} ]</a></li>
                    <li><a href="/logout">Sign Out</a></li>
                {% else %}
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/reg">Sign Up</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
        {% for message in get_flashed_messages() %}
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
    </div>
</nav>
    
        
{% extends "bootstrap/base.html" %} 
{% block title %}BELN{% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide" style="height:880px" >
   <!-- Carousel indicator -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel Project -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="{{url_for('post')}}"><img src="../static/pictures/002.jpg" alt="First slide" style="height:880px; width:100%"></a>
            <div class="carousel-caption">
                <h1>WRITE</h1>
               <p>Write a new page.<br/>Blockchain-based Electronic Lab Notebook will help you to research well, and manage well. </p>
            </div>
        </div>
        <div class="item">
            <a href="#page_list"><img src="../static/pictures/001.jpg" alt="Second slide" style="height:880px; width:100%"></a>
            <div class="carousel-caption">
                <h1>READ</h1>
                 <p>See written pages.<br/>You can easily manage and access written pages.</p>
            </div>
        </div>
        <div class="item">
            <a href="/userposts?user_id={{ current_user.id }}"><img src="../static/pictures/003.jpg" alt="Third slide" style="height:880px; width:100%"></a>
            <div class="carousel-caption">
                <h1>MANAGE</h1>
                 <p>Manage your writings.<br/>You can easily see and manage what you have written.</p>
            </div>
        </div>
    </div>
</div>
    
<div id="page_list"><br/><br/></div>
    
<div class="container">
    <div class="row">
        <div class="aw-content-wrap clearfix">
            <div class="col-sm-12 col-md-9 aw-main-content">
                <div class="aw-mod aw-explore-list">
                    <div class="mod-body" style="width: 1100px;">
                        <div class="aw-common-list" >
                            <h1 style="text-align: center;">RECENT WRITINGS</h1>
                            {% for post in posts %}
                                {% if loop.index >= 8 %}
                                    {% break %}
                                {% else %}
                            <div class="aw-item active row">
                                <a class="aw-user-name col-lg-2" href="#" rel="nofollow" style="width: 100px; height: :100px; margin-right: 58px; margin-left: 2px">
                                    <img src="https://cdn1.iconfinder.com/data/icons/professions-2/512/56-512.png"
                                        alt=""/ width="100" height="100">
                                </a>
                                <div class="aw-question-content col-lg-10">
                                    <h4>
                                        <a href="/detail?post_id={{ post.post.id }}">{{ post.post.title }}</a>
                                    </h4>
                                    {% if (current_user.is_authenticated) and (current_user.is_allowed()) %}
                                    <a href="/detail?post_id={{ post.post.id }}" class="pull-right text-color-999">COMMENT</a>
                                    {% endif %}
                                    <p>
                                        <a href="/userposts?user_id={{ post.user.id }}" class="aw-user-name">{{ post.user.nickname }}</a>
                                        <span class="text-color-999">posted a new page • {{ post.reply_count }} Reply • {{ post.post.timestamp | datetimeformat("%Y-%m-%d %H:%M:%S") }}</span>
                                        <span class="text-color-999 related-topic hide"> •  From related topics</span>
                                    </p>
                                </div>
                            </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    <div class="mod-footer" style="height: 100px;">
                        <br/><br/><br/>
                        <footer id="footer">
                        <div id="footer-content" align="center" style="width: 1140px;">&copy; Seokju Hahn. 2018</div>
                        </footer>
                    </div>
                </div>
            </div>

       <!-- Sidebar -->

             <!-- end sidebar -->
        </div>
    </div>

</div><!-- /.container -->
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
 var $ = jQuery.noConflict();
    $(document).ready(function() { 
        $('#myCarousel').carousel({ interval: 2500, cycle: true });
    }); 
</script>
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
